<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Configy" version="1.0.0" targetFramework="net462" />
  <package id="EnterpriseLibrary.Common" version="6.0.1304.0" targetFramework="net451" />
  <package id="EnterpriseLibrary.Data" version="6.0.1304.0" targetFramework="net451" />
  <package id="Kamsar.WebConsole" version="2.0.1" targetFramework="net462" />
  <package id="MicroCHAP" version="1.2.2.2" targetFramework="net462" />
  <package id="Microsoft.AspNet.Mvc" version="5.2.7" targetFramework="net462" />
  <package id="Microsoft.AspNet.Razor" version="3.2.7" targetFramework="net462" />
  <package id="Microsoft.AspNet.WebApi.Client" version="5.2.7" targetFramework="net462" />
  <package id="Microsoft.AspNet.WebApi.Core" version="5.2.7" targetFramework="net462" />
  <package id="Microsoft.AspNet.WebApi.WebHost" version="5.2.7" targetFramework="net462" />
  <package id="Microsoft.AspNet.WebPages" version="3.2.7" targetFramework="net462" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net462" />
  <package id="Newtonsoft.Json" version="6.0.4" targetFramework="net462" />
  <package id="RestSharp" version="104.2.0" targetFramework="net462" />
  <package id="Sitecore.Analytics.Core.NoReferences" version="9.0.171002" targetFramework="net462" developmentDependency="true" />
  <package id="Sitecore.Analytics.Model.NoReferences" version="9.0.171002" targetFramework="net462" developmentDependency="true" />
  <package id="Sitecore.Analytics.NoReferences" version="9.0.171002" targetFramework="net462" developmentDependency="true" />
  <package id="Sitecore.ContentSearch.Linq.NoReferences" version="9.0.171002" targetFramework="net462" developmentDependency="true" />
  <package id="Sitecore.ContentSearch.NoReferences" version="9.0.171002" targetFramework="net462" developmentDependency="true" />
  <package id="Sitecore.Integration.Common" version="1.0.46" targetFramework="net462" />
  <package id="Sitecore.Integration.Common.NoReferences" version="2.2.160927" targetFramework="net462" developmentDependency="true" />
  <package id="Sitecore.Kernel.NoReferences" version="9.0.171002" targetFramework="net462" developmentDependency="true" />
  <package id="Sitecore.Mvc.NoReferences" version="9.0.171002" targetFramework="net462" developmentDependency="true" />
  <package id="Sitecore.RestSharp" version="1.1.70" targetFramework="net462" />
  <package id="Sitecore.Services.Infrastructure.NoReferences" version="9.0.171002" targetFramework="net462" developmentDependency="true" />
</packages>